<div>
  <div class="jumbotron">
    <h1 class="display-3">Workout Tracker</h1>
    <hr class="my-4" />
    <p>
      Welcome to Workout Tracker!
    </p>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary">Navigation</button>
    <div class="btn-group" ngbDropdown>
      <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
      <div ngbDropdownMenu>
        <button class="dropdown-item">Home</button>
        <button class="dropdown-item">Workouts</button>
        <button class="dropdown-item">Admin</button>
      </div>
    </div>

  </div>
</div>
